<a href="https://colab.research.google.com/github/SoumeshPattanaik/DivineAI/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Multiplication Table
n=int(input("Enter a number"))
for i in range(1,11):
  print(n," X ",i," = ",n*i)

Enter a number3
3  X  1  =  3
3  X  2  =  6
3  X  3  =  9
3  X  4  =  12
3  X  5  =  15
3  X  6  =  18
3  X  7  =  21
3  X  8  =  24
3  X  9  =  27
3  X  10  =  30

In [ ]:
#Sum of n natural numbers
n=int(input("Enter a number "))
sum=0
if (n<0):
  print("Invalid entry!!")
else:
  for i in range(0,n):
    sum+=i
  print("Sum= ",sum)

Enter a number -3
Invalid entry!!

In [ ]:
#Factorial of a given number
n=int(input("Enter a positive number "))
fact=1.0
if(n<0):
  print("Invalid entry!!Factorial of a negative number does't exist")
else:
  for i in range(1,n):
    fact*=i
  print(n,"! = ",fact)

Enter a positive number 12
12 ! =  39916800.0

In [ ]:
#Sales and average sales of month
n=int(input("Enter number of sales"))
avg=0.0
sum=0
if(n==0):
  print("Number of sales=0\nTotal Sales=0\nTotal Average=0")
else:
  print("Number of sales=",n)
  for i in range(1,n+1):
    print(i)
    sales=float(input("Enter sale ",))
    sum+=sales
    avg=sum/n
  print(sum)
  print(avg)

Enter number of sales5
Number of sales= 5
1
Enter sale 6
2
Enter sale 3
3
Enter sale 5
4
Enter sale 7
5
Enter sale 10
31.0
6.2