<a href="https://colab.research.google.com/github/SoumeshPattanaik/DivineAI/blob/main/Join_two_sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
# Joining Two Sets

set1={"A","B","C","A"}
set2={1.1,4,3}
set3=set1.union(set2) # Using union,removes all duplicates 
print(set3)

{1.1, 'C', 3, 4, 'A', 'B'}

In [6]:
set1={"A","B","C","A"}
set2={1.1,4,3}
set1.update(set2) # Using update,removes all duplicates
print(set1)

{1.1, 'C', 3, 4, 'A', 'B'}