In [10]:
a=200
b=33
if b>a:
    print("b is greater than a")
elif a==b:
    print("a and b are equal")
else:
    print("a is greater ")

a is greater

In [11]:
#Short hand if and if..else
if a>b:print("a is greater than b")

a is greater than b

In [23]:
#Short hand if and if..else
a=330
b=330
print("A") if a>b else print("Equals") if a==b else print("B")

Equals

In [20]:
l=int(input(" Side1"))
b=int(input(" Side2"))
if(l>b):
    print("Length= ",l)
    print("Breadth= ",b)
elif(l<b):
    print("Length= ",b)
    print("Breadth= ",l)
print("Square") if l==b else print("Rectangle")

 Side176
 Side276
Square

In [24]:
"""Pass Statement:
    Results in no operation"""
for num in[20,11,9,66,4,89,44]:
    if num%2==0:
        pass
    else:
        print(num)

11
9
89

In [25]:
"""Continue Statement:
    The continue statement is used to skip the rest of the code inside a loop for the current iteration only.
    Loop does not terminate but continues on with the next iteration"""
for val in "string":
    if val=="i":
        continue
    print(val)
print("The End")

s
t
r
n
g
The End

In [27]:
"""Break Statement:
    Terminates the loop containing it."""
for val in "string":
    if val=="i":
        break
    print(val)
print("The End")

s
t
r
The End

In [29]:
i=0
while i<6:
    print(i)
    i+=1

0
1
2
3
4
5

In [31]:
fruits=["apple","banana","cherry"]
for X in fruits:
    print(X)

apple
banana
cherry

In [36]:
for i in range(4,20,2):
    print(i)

4
6
8
10
12
14
16
18

In [37]:
for i in range(4,20,2):
    print(i,end=' ')

4 6 8 10 12 14 16 18

In [40]:
n=int(input("Enter a number"))
sum=0
for i in range(n+1):
    sum+=i
print(sum)

Enter a number5
15

In [48]:
list1=["abc",34,True,40,"male","unmarried"]
print(list1[1])
print(list1[-1])
print(list1[2:5])
print(list1[::2])

34
unmarried
[True, 40, 'male']
['abc', True, 'male']

In [52]:
thislist=["apple","banana","cherry"]
thislist[1]="blackcurrent"#Change item value
print(thislist)
thislist[1:3]=["blackcurrant","Watermelon"]#Change a range of Item value
print(thislist)

['apple', 'blackcurrent', 'cherry']
['apple', 'blackcurrant', 'Watermelon']

In [53]:
#insert items
thislist.insert(2,"strawberry")
print(thislist)

['apple', 'blackcurrant', 'strawberry', 'Watermelon']

In [54]:
#Append Items
thislist.append("Orange")
print(thislist)

['apple', 'blackcurrant', 'strawberry', 'Watermelon', 'Orange']

In [ ]:
#Extend list
thislist=["apple","banana","cherry"]
tropical=["mango","pineapple","papaya"]
thislist.extend(tropical)
print(thislist)

In [ ]:
thislist=["ornge","mango","kiwi","pineapple","banana"]
thislist.sort()
print(thislist)
thislist.sort(reverse=True)
print(thislist)

In [5]:
thislist =[] 
  
n = int(input("\n Enter Number of Elements you wish to enter: "))
  
for i in range(n):
    element = input("\n Enter Element : ")
    thislist.append(element)
      
print("\n thislist : ", thislist)
thislist.sort()
print(thislist)
thislist.sort(reverse=True)
print(thislist)

 Enter Number of Elements you wish to enter: 4

 Enter Element : 7.09

 Enter Element : 65

 Enter Element : 876

 Enter Element : hfyh

 thislist :  ['7.09', '65', '876', 'hfyh']
['65', '7.09', '876', 'hfyh']
['hfyh', '876', '7.09', '65']

In [12]:
newlist=[x for x in range(0,40) if x<5]
print(newlist)

[0, 1, 2, 3, 4]

In [13]:
thistuple=("apple","banana","cherry","kiwi","melon","mango")
print(thistuple[1])
print(thistuple[-4])
print(thistuple[3:5])
print(thistuple[-4:1])
print(thistuple[-3:1])

banana
cherry
('kiwi', 'melon')
()
()

# Sets

In [1]:
set1={"apple","banana","cherry"}
print(set1)

{'banana', 'apple', 'cherry'}

In [2]:
print(len(set1))

3

In [3]:
# USing the set() to make a set

set2=set({"apple","banana","cherry"})# note the double-round brackets
print(set2)

{'banana', 'apple', 'cherry'}

In [4]:
set={"apple","banana","cherry"}
for x in set:
    print(x)
print("\n")
ptint("banana" in set)

banana
apple
cherry

NameError: name 'ptint' is not defined

In [6]:
#add()
set.add("orange")
print(set)
print("\n")

#update()
set={"apple","banana","cherry"}
tropical={"pineapple","mango","papaya"}
set.update(tropical)
print(set)
print("\n")

set={"apple","banana","cherry"}
mylist=["kiwi","orange"]
thistuple=("kiwi","orange")
thisdict={"papaya":5,"watermelon":2}
print(set)

{'banana', 'apple', 'orange', 'cherry'}


{'banana', 'cherry', 'pineapple', 'apple', 'papaya', 'mango'}


{'banana', 'apple', 'cherry'}

In [9]:
#Clearing a using clear() method
set.clear()
print(set)

#Delete the set completely
set={"apple","banana","cherry"}
del set
print(set)

set()
<class 'set'>

In [12]:
#Joining the set using union() method

set1={"a","b","c"}
set2={1,2,3}

set3=set1.union(set2)
print(set3)

print("\n")

set1={"a","b","c"}
set2={1,2,3}
set1.update(set2)
print(set1)

{1, 'b', 'a', 2, 3, 'c'}


{1, 'b', 'a', 2, 3, 'c'}

In [16]:
#intersection
set1={"a","b","c"}
set2={"a",2,"c","t",5,6,7}
set1.intersection_update(set2)
print(set1)
print("\n")

set3=set1.intersection(set2)
print(set3)

{'c', 'a'}


{'c', 'a'}

In [19]:
#Symmetric Difference
set1={"a","b","c"}
set2={"a",2,"c","t",5,6,7}
set1.symmetric_difference_update(set2)
print(set1)
print("\n")

set1={"a","b","c"}
set2={"a",2,"c","t",5,6,7}
set3=set1.symmetric_difference(set2)
print(set3)

{2, 'b', 5, 6, 7, 't'}


{2, 'b', 5, 6, 7, 't'}

In [24]:
dict1={'a':4,'b':5,'c':6}
dict2={'d':5,'e':2,'f':1}
dict3={'g':8,'h':3,'i':2}
dict2.update(dict3)
dict1.update(dict2)
print(dict1)

{'a': 4, 'b': 5, 'c': 6, 'd': 5, 'e': 2, 'f': 1, 'g': 8, 'h': 3, 'i': 2}

In [25]:
dict1 = {1:"Sunday",2:"Monday",3:"Tuesday"}
dict2 = {"a":1,"b":2,"c":3}
dict3 = {100:"Hundred",200:"Two Hundred",300:"Three Hundred"}
dict4 = {**dict1,**dict2,**dict3}
print(dict4)

{1: 'Sunday', 2: 'Monday', 3: 'Tuesday', 'a': 1, 'b': 2, 'c': 3, 100: 'Hundred', 200: 'Two Hundred', 300: 'Three Hundred'}

In [28]:
d1={"name":"XYZ","address":"Ghaziabad","street":"vaibhav khand","state":"UP"}
print ("Name: {}, Address: {}, Street: {}, State: {}".format(d1['name'], d1['address'], d1['street'], d1['state']))

Name: XYZ, Address: Ghaziabad, Street: vaibhav khand, State: UP

In [35]:
res=1
FruitDict = {'Apple': 10, 'banana': 5,'orange':4,'Guava':6} 
for i in FruitDict.values():
    res*=i
print(res)

1200

In [46]:
dict={}
n=int(input("Enter range"))
for i in range(n):
    key=input("Enter Key:")
    val=int(input("Enter Value:"))
    dict[key]=val
key=input("Enter Key to check")

if key in dict.keys():
    print("Present, ", end =" ")
    print("value =", dict[key])
else:
    print("Not present")

Enter range2
Enter Key:hari
Enter Value:59
Enter Key:sunny
Enter Value:60
Enter Key to checkhari
Present,  value = 59

In [51]:
marks = [('Eng', 88), ('Sci', 90), ('Maths', 97), ('Sst', 82)]
print("Original list :",marks)

marks.sort(key = lambda x: x[1])
print("\nAfter Sorting :",marks)

Original list : [('Eng', 88), ('Sci', 90), ('Maths', 97), ('Sst', 82)]

After Sorting : [('Sst', 82), ('Eng', 88), ('Sci', 90), ('Maths', 97)]

In [57]:
def fun(a,b):
    if(a==1):
        print("Coming from if ")
    elif(b==1):
        print("Coming from elif")
    else:
        print("No Result")

x=int(input("Enter Number 1:"))
y=int(input("Enter NUmber 2:"))

fun(x,y)

Enter Number 1:1
Enter NUmber 2:2
Coming from if

In [60]:
def avg(a,b):
    s=a+b
    avg=s/2
    return avg
dict={1:{'name':'Ram','Mark':{'phy':56,'chem':78}},2:{'name':'Hari','Mark':{'phy':76,'chem':88}}}
mark=avg(dict[1]['Mark']['phy'],dict[2]['Mark']['phy'])
print(mark)

66.0